/* color1 es el color del top barr y los botones de las paginas de catalogo*/
$color1: #000000;

/* color2 es el color de los botones del index y el borde de las tarjetas en el index*/
$color2: #069A06;

/* color3 es el color de el texto del titulo*/
$color3: #faebd7;

/* color4 es el color de la barra de navegacion y el footer*/
$color4: #D9D9D9; 
