<<<<<<< HEAD
/* diseño para movil */

@media (max-width: 500px) {

    .baner img{
       height: 250px; 
    } 
    
    .card .card_images .main_picture {
       width: 300px;
      
    }
 
    .miniaturas img{
       width: 70px;
       height: 70px;
    }
 }
=======
/* diseño para movil */

@media (max-width: 500px) {

    .baner img{
       height: 250px; 
    } 
    
    .card .card_images .main_picture {
       width: 300px;
       height: 300px;
    }
 
    .miniaturas img{
       width: 70px;
       height: 70px;
    }
 }
>>>>>>> 35b474ecdeeff5ddc22d09fb4c64efdc25ea5ae9
 